<%- include("partials/header"); -%>

<div class="container">

<div class="">
  <h1>Compose</h1>
  <form class="" action="/compose" method="post">
    <!-- <input type="text" name="someText" placeholder="type something">
    <button type="submit" name="button">Publish</button> -->
    <b><p>Title</p></b>
    <!-- <input type="text" name="title"> -->
    <textarea name="title" rows="1" cols="120"></textarea>
    <b><p>Post</p></b>
    <textarea name="post" rows="5" cols="120"></textarea>
    <button class="btn btn-primary" type="submit" name="button">Publish</button>
  </form>
</div>
</div>
