<%- include("partials/header"); -%>

<div class="container">

  <div class="">
    <b><h1 style="font-weight:bold;"><%=title%></h1></b>

    <p style="font-size :2rem; padding-top:1rem;" class="postPara"><%=post%></p>
  </div>



</div>
