
body{
  /* font-family: "Arial"; */
  /* text-align: center; */
  font-size: 1.9rem;



}
/* .container{
  font-size: 2rem;
} */

.para2{
  padding-top:3rem;
}

.owl{
  /* height: 45rem; */
  width: 73rem;


}
.row{
  padding-left:10rem;
  padding-right: 10rem;
}

#homePage{
  background-color: #80ccff;
  /* padding-left:5rem;
  padding-right: 5rem; */

  min-width: 100%;


}

.postPara{
  font-size: 1.5rem;
}
.intro{
  font-weight: bolder;
}

.para1{
  padding-top:6rem;
  color: white;


}
.daily-post{
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h1{
  font-weight: bold;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #80ccff !important;
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
  padding-top: 0.1rem;
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #80ccff;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
